
body {
	background-color: gray;

}

#div1 {
background-color: silver;
height: 150px;
/* this should be more specficic due to specificity */
}

#div2 {
background-color: silver;
height: 130px;
margin-top: 15px;
}


.fullsize {
width: 100%;
height: 350px;
margin-left: auto;
margin-right: auto;
color: black;
background-color: silver;
border-radius: 2%;
text-align: center;
font-size: 35px;
}





